<div class="container col-12" >
    <!-- <div class="rightSider">
    </div> -->
    
    <div id="leftSider" align="center" style="width: 400px; height:100%; background: #064970;">
        <img src="" alt="" style="margin-top: 250px;width: 0px">
        <div style="color: white; font: size 25px; margin-top: 20px;">SOFElink</div>
    </div>

    <div class="content">
        <div style="width: 50%;height: 100%;background-color: #F5F8FA">
            <img src="../../../assets/tmp/login_back.png" class="back_img" alt="">
        </div>
        <div class="login_div" align="center" >
            <div style="margin-bottom: 20px;">
                <img src="../../../../assets/tmp/logob.png" alt="" width="150px">
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

    <div style="position: absolute; right: 50px; bottom: 20px;">
        <p>Copyright  &nbsp;&nbsp;  第一个测试版本</p>
    </div>



</div>